<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="">
    <title>Filemanager</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav>
            <a href="/upload">upload</a>
            <a href="/filemanager">filemanager</a>
            <a href="/info">info</a>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>

</body>

</html>