<aside>
    <div class="title">
        multi upload
    </div>
</aside>
<div class="content">
    <form enctype="multipart/form-data" action="/handleUpload" method="POST">
        <input type="file" required accept="*/*" name="imagetoupload" multiple>
        <input type="submit" value="Upload">
    </form>
</div>